.Header {
  flex: 1;
  align-items: flex-start;
  color: white;
  max-height: fit-content;
  padding-bottom: 5vh;
}

.Header-bar {
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: small;
}
