.Project {
  color: white;
  text-align: center;
}

.Project h2 {
  margin-bottom: 0px;
}

.Project p {
  margin: 3px;
}

.Project .Header {
  max-width: 50%;
  max-height: 250px;
  cursor: pointer;
}
