.ProjectPage {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  color: white;
  text-align: center;
}

.ProjectPage .Title {
  margin-bottom: 3px;
}

.ProjectPage .DateTime {
  margin: 3px;
}

.ProjectPage .Tags {
  color: #f4434e;
  margin: 3px;
}

.ProjectPage .Header {
  height: 250px;
  width: auto;
  border-radius: 2%;
}

.ProjectPage .Content {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.ProjectPage .Center {
  display: grid;
  text-align: center;
  align-items: center;
}

.ProjectPage .Badge img {
  width: 150px;
  height: auto;
  padding-top: 5px;
}
